ID   RNTATFL    standard; DNA; ROD; 11973 BP.
XX
SQ   Sequence 11973 BP; 3162 A; 2618 C; 2675 G; 3518 T; 0 other;
     gttcatgcat gtacaagtac atgtgaatgt gtgtgaacaa cttcagatgt cattacttgg        60
     gccataatta ctgttgttga tgttgatagg gcctatcttc gcctgggggt ggccagtgag       120
     gctggctaac tgctcagtca atccagacat ttgctcatct ctccgttccc aatgctggca       180
     ttactacccg tgcctcccac accaccatgc ctggtatttt ttttttttcc tttttgtctt       240
     tttaaatctg ggctgtaagg ttgaactcag gtccttgtgc atgcaagtca agtgttttac       300
     agactgagct atctctccta gtcctgtgct ggaaattccc tcagacactt ctacatcaga       360
     ttcaaatcct ttctctaggt gagagatgcc attcatttgc caacaaggcg gaatgggtga       420
     gcttgtccaa aataccacgt ttaatcaggt tgtctgtttt ggttggctta tttgacactt       480
     acaagtcaac attgcaacat tattatatat ttgtcttctg attttaaaaa tgatgggtga       540
     tgcgcttgtg ttttaacctt ttctaggaga taaacgtcta cctgttgaat taacagactt       600
     actttttaaa catcctgtcg tacatgacac ttttttttaa acatttattc atttattata       660
     tataagtaca ctgtagctgc tcttcagaca caccagaaga gggcatcgga tctctttaca       720
     gatggttgtg agccaccacg tggttgctgg gaattgaact caggacctct ggaagagtag       780
     tcgggtgctc ttaaccgctg agccatttct ccagcccgac actttttaat actatataaa       840
     acaagttaaa taaatacgat cgttgccctt agaaatgcac aaacacgaaa tgggacagac       900
     ttttcacttt ctttcatgcg tagcacttcc acgaaaccac aagttaggaa caatgatcaa       960
     atatttacag gacccctaag catcacagtt aataattttc atgtggggac gcacctatat      1020
     gtgattggca gttgaatcaa caaagcagca aaaatcaaca actttaaaat aagatgtgta      1080
     ggtcattttg gtcaactaaa atttgagaaa tcgctgattt gtgtatgcac gtgtgttcct      1140
     aaaaccgtta ctttatgtag ttctttttca aagaaaggag atgggcaccc ccaggaaagc      1200
     tggttatacc cattgcttgg agtttctgat gactgctttg acatcagggc agcattctgt      1260
     catcatccgt gtgtactctg ggatgacagg gacctggacc tgtgtagaag agtcccctaa      1320
     ctcccttctc actccccagg gcttaaggct tgcctgggtc acctgatgct cgtttgcagt      1380
     gggcgaggta gggcaggtga ggagagtggg tccattgccg tgagacacgc aatcagtggc      1440
     aatagtgaag tcactgagcc ggacgtttct caatatttgc tctggcagag ggaggggggg      1500
     gggagggagg gagggaggga ggtagagctg tttttttgtt ctaagggact gaaaactctt      1560
     ctggaaatct acggggaatg catggagagc cagcactggg tttggggctc agggggtctc      1620
     gtggacagca tgtccagcct ttcctagtgc taatctactt ggcaaatgga gattcctcct      1680
     tcgggtgtca gctcaggggt agatgaagca ccctctgcct tttccgggct catcctgaac      1740
     ttcctataga acactgatct ataagcctct cgcctgtcct cctggagcac ctgccattca      1800
     caggattcat cagggtggtg ttcagggaag acacccattg gggtcgtcaa cacaatagag      1860
     ccaactgaag aagggaggat ctgcctccca ttttatattt attttattat tttatttgag      1920
     acagagtatg tctatgtagc cttggctagg ctggaacttt ccttttttga gcaggttggc      1980
     ctcaaactca ccaagattat ctggctatac atctcctgag tgctgggatt aaaggagtgt      2040
     accactgtac ctggcttctc tctctctctg tctctgtctc tgtctgtctc tctgtctctc      2100
     tgtctctctg tctctctctc tctctctctc tctttctctc tctctctctt ccttccttcc      2160
     tcttcctttc cttctttcct tcttttcttc tctctctctt tctttcttcc tttctttctt      2220
     tctttctttc tttctttctt tctttctttc tttctttctt tctttctttc tttctttctt      2280
     ctttctcttc tagtttttgt gtgtgtgtct gtgtgttttg gatacagtct tgctatgtga      2340
     ccctacgctc ttctcaaact tgtatttatt ttgccacagt tttcccagag ctgagagttg      2400
     ctttccttaa aaaaaacaaa aaatcacagg ggttggggat ttagctcagt ggtagcgcta      2460
     tggcctagca agcgcgaagg ccctgggttc ggtcctcagc tccgaaaaaa aagggaaaaa      2520
     aaattacata ttacttttag agaataacag gtttctgttg tgaaatttcc gtaagtattt      2580
     acaacaaatg cagtactgac tattaaacca agagccatgt gtatgctagg caaatgctct      2640
     acccctgacc tgcgtaatgc actttgatga cactcttaac ccgttgcatc ctggtcacac      2700
     tcttctcctt cctcttccca aatagataat cttctgcctt tatgcctttt tcttttctct      2760
     acatctagat tccgcatgtg agattcttcc ttagctggtc ttctcttact gaacaccgtg      2820
     ctctgtccag ttgtctgcaa atggcatcat tccgtccttt agagctgaac agaactccac      2880
     cgtgtatgcg tactgcatct tttttatcca catctctgtg gacggaccct tagctgattg      2940
     cgaagtctgc ctattacgaa tacagtgacg gcagatgcgc aggcatctac ttccgctcct      3000
     ccaaggtgcg caggcgtctc ggcagtacac cgacttccgc tccacccggg acatacctgc      3060
     gagtggtata gctaggtcac agggtgattc tatttttcga atctatacta atttccatgc      3120
     ggctatatta atttacattc ccacaacaat atatggaggt tccattccgc ctgtacatta      3180
     tatcccccct ctctttctct gcctcaagta tgctaggcaa gcacttttac cagtcagcca      3240
     acattcccag cccacttatg gttttcttgg tgatgccatt atgattggga tgaggtgaac      3300
     atctccatgt agttaagatt ggccttttcc tgattctatt tccctcctgt tcatcagaca      3360
     gaccactgaa tagcctaatc atatggggcc ctgaggatct ccagttataa aagttaatga      3420
     ttctggttgc ttaattgact taggtaacag ttaataaaac acagggcctc atgatttact      3480
     gcctatgagg cagaatagct taactaccct gctgttagag gaggccacct tggcccgagg      3540
     tttggttctg ttctttagta gctgtgtggc ctttggcaag ttattcaact ctcctatgtt      3600
     tgggtttctg cagttttcaa atgcgtttat aatagtacct accacatggt ggaatcagta      3660
     aagtaacaca gacttagaat tgccaagtgc caagaacaca agagatgctt gatcaatatt      3720
     tacgggtgac taaaattatt atttctacat ttttagtcat tcttaaaagg caatgctcct      3780
     tccccccttt ttcttctgga cagaatagaa aaaacatcgt tttcaattca taataaattt      3840
     ccattctcat aaaatatcca gtaccattta aggagttaat acaagctcct tgaccctcat      3900
     cacaggtatt aataaagctt tatgaattac attatcagtc acttgttcat tcagccatcc      3960
     tactgagcac tggctgtatg atagacacca tctcatgaaa caacgataaa taaatattct      4020
     gctctcatgg aattaatatt ccagcagggg gaaataggca ataattaaaa tatgtaaaat      4080
     gtatactata ttttactgat tctaaaacat ccattttccc agatgttaaa acccagaatc      4140
     taggtgtggt gcctcccatt tgtaatccta gtattcagga ggctgagcag aaggctgcaa      4200
     gttcaaggct tgcctcagtt aaaaaaataa attctcaggg ctggggattg tattacttgg      4260
     ttgttaggat gcttacctaa gcacacatta gaccctaaat ttgaccctca atactgcata      4320
     aaactgggtc tggtgacatc caggtggtgg aggcaggagg atcagaagtt taaagttatc      4380
     tggctacata gtgagttcca agacaggtca gccacaacct tgtctaaaaa aaaaaaaaaa      4440
     accacacaat taatattcat ttcacactga ctgaccagca tttttctttt gaacaaaaaa      4500
     caaaacaaaa caacatcaga ccaagacaac aaatgcgtca acagcctctt agttttgatg      4560
     ctggacacag ttgcggttag atatagtctc ctcctcctgc ccgcttgctg gaaggtaaaa      4620
     ccaatatcct ttgggtagca aaatcccggc accttctctc ggactttgtt ttgctcatag      4680
     ttctgtggca ggaaacttga tgtcctagac ttgggtaatt cactgtgatt tggccctcgc      4740
     tgatggtcct ctcccctctg taggtcccag cagcgagtct ggataaagat tgctgacttg      4800
     cataatctct ggcatttgtt accaggcggg gtagggaacg agtgatcctg agacttcact      4860
     gagggaggtc agcagcaaag ctctggaaca ttccatgttc cttggccaag tgcatgctcc      4920
     acaacttaca gatcatggag actgaactgg gactttctgc agcaggaagt caggctcagc      4980
     ccctacctgt ccgaatggca gaccttgtat tacccattaa gccacgggac tgggatgctc      5040
     aggattgctg tggtctaagc aggtagtgag agatgagagg ctggctctga ctggtttggg      5100
     ttattatttg tgagtgctca aaaggaaaca gatggtgcgg tcaacctagg cagtttacga      5160
     aaagggactt tcacttgtga ctgtgttcta gcaggatttg tctgtggcct cttgtgcttc      5220
     tgagcggaga ctgggaacga ttacatgggt tcacatgtgg tcacagtcat cctgggccaa      5280
     caacaggctc agatgggcta gccatccaaa atggcttctt catcggttca gtgcgccgat      5340
     agttttgcat cccctctttg acaaaacaca cgggatttct tttagtttta ttttaccttt      5400
     atattttttc atcttattaa atctttccct ccactttatt tgtattgcca tataaccttt      5460
     tccccacata ctatttcctg attttttgat ccccttccct ctgctcccag gtttccctgc      5520
     ctttcctcct atccagattc actctctttc tgtctctcac tagaaaacaa ccaggcttct      5580
     aaaggataat aataaaatat aatataacac aagaaaccaa catctaatac actgggataa      5640
     agacaaaata aaaagaagaa aagaacacaa taagagacag acacagagac ccactagttc      5700
     atacacttag gaatcccaca aaaacactaa actggaagcc ataatataga cgcaaaggac      5760
     ctgtagggta aaaggagaga aaaatatgaa ataattaaat acaaaaaaaa aaaatagccc      5820
     tggcgtggca ctgtgaaaca aggcatctcc aatgttgagt tggtttccca tggaccatct      5880
     cctgctgggc atggggcccg cccctaagag tagtttgttt ccccagcgag actcccttgg      5940
     agaaaagtaa aattttattt gccagtgttt ttaagtggtg ataacttctg gattagggat      6000
     ggggtacgtg tccaactctc ctttcaactc taggacccat ctggtgcagc cctgtgacag      6060
     ccctgcacgt gctgccacag tctctgtgag ttcctgtgtg gatcagtcct gttgaccaga      6120
     gggcttgttt tctcggcgtc ttccatgcct ctggctctcc tgcctcctct tctgcagggt      6180
     tcccagagac acccatttaa gccggggtat gccaaggttt ctcacgctct gcatgctgtc      6240
     tggctacggc tttctatttg tcccatctgc cgaagaagga agcctctctg atgatgactg      6300
     agcagggcac tgatctactt ccctgactga agcacacact ggatttcttt cacgaaagct      6360
     cagggtacta agcgagattt ggtagacgaa ctggcctgtg ttcagaacgc tcagaatgac      6420
     tcctctggct ttcatcggtc aacccagtca tggcaaactt atttcctgat aaaatgctca      6480
     ggatgaggac tggattgcag atgcggccac aaataaaaga acacgaagtt caccctggag      6540
     acaaacggct gaggtaagag tcatggttgc cacagttatg caaaacacaa aacaaataag      6600
     gtggtgctat ttgctaaact ccgtgagtgg ggcacccaga aggcacctca gtctgcaaac      6660
     agatgaagat tttatttagc ttttgaagag cagagtgctg aagtagagag aaaagccaca      6720
     acctttaaag ggtgagcagc cctttgaaaa cccactatcc ctttatacca tgaacaaaac      6780
     agcagatcta atgctggctc ttcctcccct cattaccttc tccctttttt atgtgctatt      6840
     tactgccaac tggtgagcac gtccagaccg aggcttatag gaagcaccac gtaagacaag      6900
     agggcataag tggagaacaa ggaattgatt gtatgtgcag tacccaagtg atactgtcca      6960
     ttattctgga tggaaaggaa cgacttagct ggtgaggaga tggaaaaggc aggcggatgt      7020
     ttcctgcatc agctgaagag ttagttgact attttttttc ttaatttgtt tttgtttgtg      7080
     tatgagtgct ttgcgcgcac ctagtctgtg taccacatgt gtgcaatgct caaggaggcc      7140
     agaagagggc gccgtatctc ctggagctgg cgttgcagat ggtcccgaac ggccacgggg      7200
     gtgctatgaa ttgaacaaaa agtaggccag caggaagttc atcgtctcag gaaaaagtct      7260
     cattaaaata tcctaaaata agacccatag agtaccaagc tgagagagta aggatataga      7320
     atgtacgtct ggaacaatag acacatttca acatgttaat catgggcaga aagaattgat      7380
     attgcttgtg tccaggtggt agaattactg aagaactttt aaaggtttat ttgtttttat      7440
     tttatgtgtg ggagtgtttt gcctgcagga tttgagtgtg ctacgcgcac gtctgttctt      7500
     cttggagggt gtcagatggc ctgaactgaa gttacagttg gttgtgagcc aactgtgtag      7560
     atgctggaaa ccaaatcccc atcaggtcaa acaaatgctc tgaactgctg agccatctct      7620
     ccagccgcct ggcggtagaa ttattttaaa aatgcttttg tatgccaggc atggtggctc      7680
     acagctgtaa agccagaact tgggaggtag aggcagaagg atcagcagtt tgggccatca      7740
     caggctggct acattgtgag tatgagggtc tcaaaaaaca aaacaaaaat tatcccaaag      7800
     ataaagaaca acgacaactc caaaacaaac aattaaccca cttctggcaa aagcgacagc      7860
     gtacacttag aaaagctcac tagaagtcat ttggttttta ttttgatatt agcttttact      7920
     taggtatcaa ttcgtttgtg tgtttagttt tgagataccc cagactatag ttgtttgttt      7980
     ttcaagggaa ggacttcact gtgcctgttg gtgtaacctt tagtgagtgt cagagcttgc      8040
     tgggccttga ctcgaggtct agtttatctg gtattgcaga aacttcctat acagctctgg      8100
     gtcctgtcac acactctccc accctgcctg gtctgctttc tgctgaggga aaacattagc      8160
     ttccagaggc aggtagcacc agaacttgtt tgctctgcct gtttcccctc tgacctcagt      8220
     tctgatgttg gctcccacac ccagatgaag gtgtgttcgt ggcattgacc tgatgatgca      8280
     gctgccctgg ctcccttcgc atgcccctct gccctgcagc ttctgcgtca gcgccagtat      8340
     ttgctggacc acttgccaac ccctgtgcag cctgctgctc tttgatctgt atacctgaag      8400
     ccaagccagc ccggcctgta agcagctgtt ctagagcttt gcaacccgca tcctaagcca      8460
     aggtctcatc taaggcaaaa ataagggggt tattttctac agggacaggt gcgggacact      8520
     cacagatgct tcaagaacac agtgggccga gaaaatgaac aatgtccgtc tttgattaaa      8580
     tggggcaaag gcaacatctt taatattatc attccgtcaa tcactttgag aaaagcttat      8640
     ttaagaagac aattcccaat ggttttcaaa ccaccggtta ggaaggtaat tagcctttct      8700
     gaaaatacca tcaaggagtc tgaagaactg taacgtcggg gtgtggtggc ccacaccttg      8760
     tcctcccagc acctgggagg ccgagacaaa gaagatgtag agttgggggc cagcttctgg      8820
     tactctcgat gttcaaaacc aaaacagaac ggtttaaaaa ttaagactct ggcatagaat      8880
     attctagaat caaacgtacc acaaacagat tcaggaatac tcggaattca gtataaacta      8940
     aagcaacttt ttaaaattag tagggagaac caggtgtggt ggtacacacc tttaattcca      9000
     gcacatggag gcaggggcag gcagatcttt gtgagttcaa gggcagcctg gtctacatgg      9060
     caagttccag gctagccagg gcagcatagt gaagctctgc ttacaaaagc aaaacaaaaa      9120
     accgggaaaa ccttcagttt ttgaataaga cacatatgtg agttcctaag atgcatgaac      9180
     gccacagaga ccactcaaga gagcaccaag gctcctacgc aaaggcaagt tagctccaga      9240
     gccctaggag agctgctcat gggacagggc agcgacagcc accaagctga gagtcagctt      9300
     gtgtgcccag gagggaggcg ttgggtcaga gcctctggag gacccctgaa gtctcttctc      9360
     agtgttctct atcacaggga gagctgtcag cccctggaat gtggttctat gtctagaaaa      9420
     ctatcccata aataacagga agcccaaggt ttaccaatct ctgctgtaca ggatgttcta      9480
     gctactttat ttgcaataga aaatctgaaa gtttccccat gtccaacaag actagaacaa      9540
     acaagtcctg cgtagtcgcc tgtcggtttc tgggtgtggt ggtatagccc tgtaatccca      9600
     gcatttggga agctgaggtg ggaggatcgg gagttcaagg tcagcttggg ctacttagaa      9660
     agaccttgtc tcaaaagaag tggagggggg gtggtggtgg tggtggtggt ggtgtaaaat      9720
     tgatctcttt gtatgataat gtccatacaa tatattaata ttgaaaacag tcatgccata      9780
     gaacaatttt gttcagtaaa tgtacatcac ataagtaact tcaaatttta gaagggataa      9840
     ttttaaagtc aggcaggcag cattaaagaa gaatgaggaa atcaatttaa aattcttttt      9900
     taaagactta cttactggat ttttgcctat gggtaatttg catgtatgtt ataacaccct      9960
     gtatgtttct ggttcctatg gggatcagaa gagggtatta ggtcctctgg gactggaggt     10020
     atagaccgta gtttgtgagt caccgtgtgg gttctaagaa ctgaaccggg tcttctggaa     10080
     gggcagccag tgctcttaac ctctgagcca tcttgccatc cccaataaaa ttagttaaga     10140
     aattattatt attgttgttg tcgttttcgt ccttattagt gtgtgtgttc agcagtcagt     10200
     tctgtccttc cacagtggca tctaagagtg gaacctaggt tggtggtcag gcttgtgcag     10260
     gaagtgattt ttgccggctg agcaatctca tcaggcttcg gacatttttt aactgttttt     10320
     atatttttat tttatagttt ttattgtttt aattcaaagt gtcagagaat ctttcaaaat     10380
     gttgcaatcc atataaaaat gaacgaggtg gttggcattt ttaacactaa gtcttcgcaa     10440
     tgcaacgtct cttttatatc aacaatgcat ctcactttag accagccaca tatcaaggat     10500
     caaaagtcaa ttatggctgt agccattata ggaggccgtg caactctaaa gtatgtacag     10560
     ccggcggtac agcgtttgct ttggttcaat ttcctatatc aaaaaggagt gtgtgggagg     10620
     gagttgtaga aagtgactga ggaagacacc cagtgtccta atgtcaacag gaggatccac     10680
     agcaggactc tggcaacacc cgtgtttatg aaacatctct gcgtgctgta gcttttattg     10740
     gggggtttca gtgatccgtg tgtttgggca ctagaactct gtcggaccca gggggatgtg     10800
     agccttgtgc atctaaatcg cagtccgcct tttcaggccc atcgcaggaa gaagccattg     10860
     tagagatgca gcgtggtggt gggagcactg cacatgcgca gagacgctac tatgcaaata     10920
     atagtctagc gcctcttgtg gacggtgttg tagctgcggt ctgtgcctgt tggagcaagg     10980
     agcctgtgtg gccctggaat cagattacct gctttagggt aggagagaga tcctaccact     11040
     gttgttggtt cctttgttaa cgttgtgatc agttacaagc tgctctggga attttccact     11100
     gtttaaagaa cgacttcaga tcccttaact cgctgcactc agttttgtac tctgatgaaa     11160
     atgaagctgc agagatcttt ttggctgcct tgtttcttga ttgattatta atttgtttga     11220
     actgcccagt ttgttctaac tggagtccaa aactctgtgg tgtgccaaga aaaggaaatt     11280
     aaggcatagg gcaaagaaat aataataacg actacggtga cgacgatgat gatgacgatg     11340
     taaatgccat tatcgaacga gagcatgatt ctatctgtgc tttgaaaact tattaaattt     11400
     tgtacgcatt tattctgcat ttctatttag ctatccgcat acttatctat tttggtgaat     11460
     cagtgaaatt ttttatttgt ttttcccttg gaatgcggtt gaatttttgt ggatattacc     11520
     gttgtccgta gcaaatccca catatggtag atgggtattc aaccaaactc ttatcattgc     11580
     ttatatccag gagtgagact agagtgcaca gagaaagggg taccagaagg accctcgttt     11640
     aaatgtattt ctgtactgtt aacacaattt tcataaccaa aaaagaccaa taaagttaat     11700
     cactgtcacc ccaactgccc tccaccattt tctcaaacat ctcaccaaat gactagaaag     11760
     agttaacagg attccagata cttgatgtaa ggacaaatcc cagattggaa ggtggcccag     11820
     ggttggggtg agaaacagca gagtgggggg tggggtatgg gggtaggtcc gggggaggga     11880
     cttagttctc actctcaacc aatagcacga aggcttcggg cccaacgccc attggctgaa     11940
     actatttcaa gggtcaggac tgcacctgag ctc                                  11973
//

